<div class="pop-up-container">
  <!-- Centered top buttons inside the dropdown -->
  @if (!(periodType === "NAN" || periodType === "YEAR")) {
  <div class="top-bar">
    <button class="custom-button" (click)="changeYear()">
      {{ currentMenu.year }}
    </button>
    @if (periodType === "WEEK") {
    <button class="custom-button" (click)="changeMonth()">
      {{ monthNames[currentMenu.month] }}
    </button>
    }
  </div>
  }

  <!-- Grid content section -->
  @if (currentMenu.type === "PERIOD") {
  <div class="grid-content">
    @for (item of visiblePeriod(); track item.startDate) {
    <button class="custom-button" (click)="selectOption(item)">
      {{ item.label }}
    </button>
    }
  </div>
  }

  @if (currentMenu.type === "YEAR") {
  <div class="grid-content">
    @for (item of yearList(); track item) {
    <button class="custom-button" (click)="selectYear(item)">
      {{ item }}
    </button>
    }
  </div>
  }

  @if (currentMenu.type === "MONTH") {
  <div class="grid-content">
    @for (item of monthList(); track $index) {
    <button class="custom-button" (click)="selectMonth(item)">
      {{ item }}
    </button>
    }
  </div>
  }
</div>