.details-button {
	background: #1976d2;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 0.6em 1.2em;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.83em;
	box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
	transition: background 0.2s;
}

.details-button:hover {
	background: #1e87ff;
}
