@if (data().requestId) {
<div class="dialog-container" [class.smaller]="innerWidth() < 540">
  <h2>DETAIL REQUEST #{{ data().requestId }}</h2>

  <div class="row">
    @if (data().requestTitle) {
    <div class="requirement-item">
      <label class="question-text">Judul</label>
      <div class="readonly-field">{{ data().requestTitle }}</div>
    </div>
    } @if (data().stateName) {
    <div class="requirement-item">
      <label class="question-text">Status</label>
      <div class="readonly-field">{{ data().stateName }}</div>
    </div>
    }
  </div>

  <div class="row">
    @if (data().requesterName) {
    <div class="requirement-item">
      <label class="question-text">Requester Name</label>
      <div class="readonly-field">{{ data().requesterName }}</div>
    </div>
    } @if (data().picSubmitter) {
    <div class="requirement-item">
      <label class="question-text">PIC Submitter</label>
      <div class="readonly-field">{{ data().picSubmitter }}</div>
    </div>
    }
  </div>

  <div class="row">
    @if (data().dataTypeName) {
    <div class="requirement-item">
      <label class="question-text">Tipe Data</label>
      <div class="readonly-field">{{ data().dataTypeName }}</div>
    </div>
    } @if (data().urgent !== null) {
    <div class="requirement-item">
      <label class="question-text">Urgency</label>
      <div class="readonly-field">
        {{ data().urgent ? "URGENT" : "NOT URGENT" }}
      </div>
    </div>
    }
  </div>

  <div class="row">
    @if (data().requestDate) {
    <div class="requirement-item">
      <label class="question-text">Tanggal Request</label>
      <div class="readonly-field">
        {{ data().requestDate | date : "longDate" }}
      </div>
    </div>
    } @if (data().requestedCompletedDate) {
    <div class="requirement-item">
      <label class="question-text">Harapan Selesai</label>
      <div class="readonly-field">
        {{ data().requestedCompletedDate | date : "longDate" }}
      </div>
    </div>
    }
  </div>
  @if (data().filenames.length ) {
  <div class="row">
    <div class="requirement-item">
      <label class="question-text">Docx File</label>
      <div class="readonly-field file-field">
        {{ data().filenames[0].attachmentFilename }}
        <button mat-icon-button class="download-icon-button" (click)="downloadAttachment(0)">
          <mat-icon class="download-icon">download</mat-icon>
        </button>
      </div>
    </div>

    <div class="requirement-item">
      <label class="question-text">Excel File</label>
      <div class="readonly-field file-field">
        {{ data().filenames[1].attachmentFilename }}
        <button mat-icon-button class="download-icon-button" (click)="downloadAttachment(1)">
          <mat-icon class="download-icon">download</mat-icon>
        </button>
      </div>
    </div>
  </div>
  }
  <div class="row">
    @if (data().analysisPurpose) {
    <div class="requirement-item wide">
      <label class="question-text">Analysis Purpose</label>
      <div class="readonly-field">{{ data().analysisPurpose }}</div>
    </div>
    }
  </div>

  @if (data().remark) {
  <div class="row">
    <div class="requirement-item wide">
      <label class="question-text">Remark</label>
      <div class="readonly-field">{{ data().remark }}</div>
    </div>
  </div>
  }

  <div class="row">
    @if (data().stateComment && data().stateName == 'REQUEST REJECTED') {
    <div class="requirement-item wide">
      <label class="question-text">Reason for rejection</label>
      <div class="readonly-field">{{ data().stateComment }}</div>
    </div>
    }
  </div>

  <div class="request-container">
    <h3 class="request-title">Pertanyaan Request</h3>
    @for (question of data().questions; track question.requirementQuestionId) {
    <div class="row">
      <div class="question-text">
        {{ question.requirementQuestionId % 100 }}.
      </div>
      <div class="requirement-item wide">
        <label class="question-text">{{ question.requirementQuestion }}</label>
        <div class="readonly-field">{{ question.answer }}</div>
      </div>
    </div>
    }
  </div>

  <div class="row justify-end">
    @if (isVisible("cancel")) {
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    } @if (isVisible("reject")) {
    <button mat-stroked-button color="bad" (click)="changeState('degrade')">
      Reject
    </button>
    } @if (isVisible("continue")) {
    <button mat-stroked-button color="primary" (click)="changeState('upgrade')">
      Approve
    </button>
    } @if (isVisible("ok")) {
    <button mat-stroked-button mat-dialog-close color="primary">OK</button>
    }
  </div>
</div>
}