/* Dialog container when window is smaller */
.dialog-container.smaller {
	font-size: 0.85em;
}

/* Base dialog container style */
.request-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* Fieldfor the fields that hold the details value */
.readonly-field {
	display: flex;
	align-items: center;
	padding: 0.7em;
	font-weight: 400;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f7f7f7;
	color: #333;
	overflow-wrap: break-word !important;
}

/* The text for the filenames */
.filename-text {
	flex: 1;
	overflow-wrap: break-word;
}

/* The filed for the files */
.file-field {
	padding: 0.5em 0.7em !important;
	justify-content: space-between;
}

/* Download icon button (contain the icon) */
.download-icon-button {
	padding: 0.1em;
	width: 1.2em;
	height: 1.2em;
	justify-content: center;
}

/* The download icon itself */
.download-icon {
	font-size: 0.9em;
	height: fit-content;
	width: fit-content;
}

/* Row that set the content to align right */
.justify-end {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}

/* Color for drop button */
.mat-bad {
	color: rgb(255, 19, 19) !important;
}
