<body>
    <div class="page-title" [class.all-center]="innerWidth() < 600">
        <h1>My requests</h1>
        <app-custom-square-button [buttonLabel]="'New Request'" (buttonClick)="makeNewRequest()"
            [class.center]="innerWidth() < 600"></app-custom-square-button>
    </div>

    <div class="requests" [class.center]="innerWidth() < 822">
        @for (request of requests(); track request.requestId) {
        <app-card-request [request]="request" (refresh)="refreshRequests()" />
        }
    </div>
</body>