.page-title {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	/* justify-content: space-between; */
}

.page-title.all-center {
	flex-direction: column;
}
.page-title h1 {
	vertical-align: middle;
	text-align: center;
}

.page-title app-custom-square-button {
	position: absolute;
	right: 2em;
}

.page-title.all-center app-custom-square-button {
	margin-top: 0.7em;
	position: relative;
	right: 0em;
}
