<div class="period-picker-container">
    <div class="period-type-container">
        @for (item of periodType; track $index) {
        <div class="period-type-picker" [class.active]="currentPeriod && item == currentPeriod.periodType"
            (click)="clickPeriodType(item)">

            <span>{{ item }}</span>
            <span class="arrow" (click)="
        togglePeriodPickerVisibility(item); $event.stopPropagation()
      ">▼</span>

            @if (item === periodPickerVisible()) {
            <app-pop-up-period-picker (optionSelected)="updateCurrentPeriod($event)"
                (periodPickerVisible)="periodPickerVisible.set($event)"
                [availablePeriod]="availablePeriod().get(item) || []" [previousMenu]="currentPeriodMenu()"
                (storeMenu)="currentPeriodMenu.set($event)"></app-pop-up-period-picker>
            }
        </div>

        }
    </div>
    @if (currentPeriod) {
    <div class="current-period-full-label" [matTooltip]="currentPeriodTooltip()">
        {{currentPeriod.fullLabel}}</div>
    }
</div>