<body>
  <div class="page-title">
    <h1>Progress</h1>
  </div>
  <app-period-picker (new_period)="periodUpdate($event)"
    (change_period_type)="handlePeriodTypeShift()"></app-period-picker>

  <div class="requests center" [class.shrink]="is_shrunk()">
    @for (type of progress_info(); track type.state_id) {
    <app-card-progress-count [progress_info]="type" [isActiveCheck]="current_view_status()" [isShrunk]="is_shrunk()"
      (buttonClick)="showStateData($event)"></app-card-progress-count>
    }
  </div>

  <div class="requests" [class.center]="inner_width() < 670" [class.state-card-container]="inner_width() > 670">
    @for (item of visible_state_data(); track item.request_id) {
    <app-card-state-data [state_info]="item"></app-card-state-data>
    }
  </div>
</body>