.page-title {
	justify-content: center;
	margin-bottom: 0.5em;
}

.row {
	justify-content: center;
	margin-bottom: 2em;
}

.requests.center.shrink {
	gap: 0.5em;
	margin-left: 0em;
	margin-right: 0em;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

.requests.state-card-container {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
	gap: 2.5em; /* consistent but adaptive due to 1fr scaling */
	padding: 0 2em 1em 2em;
	margin: 1.5em 1em 0 1em;
}
