<body>
  <div class="page-title">
    <h1>Progress</h1>
  </div>
  <app-period-picker (newPeriod)="periodUpdate($event)"
    (changePeriodType)="handlePeriodTypeShift()"></app-period-picker>

  <div class="requests center" [class.shrink]="isShrunk()" [class.small-window]="innerWidth() < 670">
    @for (type of progressInfo(); track type.stateId) {
    <app-card-progress-count [progressInfo]="type" [isActiveCheck]="currentViewStatus()" [isShrunk]="isShrunk()"
      (buttonClick)="showStateData($event)"></app-card-progress-count>
    }
  </div>

  <div class="requests" [class.center]="innerWidth() < 670" [class.state-card-container]="innerWidth() > 670">
    @for (item of visibleStateData(); track item.requestId) {
    <app-card-state-data [stateInfo]="item"></app-card-state-data>
    }
  </div>
</body>