<div class="card">
  <div class="card-header">
    <h3 class="request-title">{{ request.requestTitle}}</h3>
    <span>
      @if (reminderTooltip && stateDurationString() != ""){
      <span class="reminder" [matTooltip]="stateDurationString()">!</span>
      }

      <span class="card-request-id">#{{ request.requestId }}</span>
    </span>
  </div>

  <div>
    <div>
      <span class="data-label">{{
        request.requestDate| date : "short"
        }}</span>
      <mat-icon class="icon" [matTooltip]="requestDurationString()">timer</mat-icon>
    </div>
    <div class="data-label">{{ request.dataTypeName}}</div>
  </div>


  <!-- <div class="card-status">
    <span class="{{ 's' + request.state_name_id }} state-label">{{
      request.state_name
      }}</span>
  </div> -->

  <div class="card-footer">
    <div class="card-status">
      <span class="{{ 's' + request.stateNameId }} state-label">{{
        request.stateName
        }}</span>
    </div>
    <app-custom-square-button [buttonLabel]="'More Details'" (buttonClick)="moreDetails()" />
  </div>
</div>