<div class="card">
  <div class="card-header">
    <h3 class = "request-title">{{ request.request_title }}</h3>
    <span class="card-request-id">#{{ request.request_id }}</span>
  </div>

  <div>
    <span class="request-date">{{request.date_start| date:'short'}}</span>
  </div>
 
  <div class="card-status">
    <span class="{{'s' + request.state_name_id}}">{{ request.state_name }}</span>
  </div>

  <div class="card-footer">
    <app-custom-square-button [button_label]="'More Details'" (buttonClick)="moreDetails()"/>
  </div>
</div>
