/* Specific style for card here */
.card {
	background-color: #fff9f9;
}

/* Title of request */
.request-title {
	margin: 0.1em;
	font-size: 1.23em;
	/* font-weight: 500/; */
}

/* Additional data such as date */
.data-label {
	color: #333;
	font-size: 0.9em;
}

/* Clock icon*/
.icon {
	color: #222;
	width: fit-content;
	height: fit-content;
	font-size: 0.95em;
	vertical-align: baseline;
	padding-left: 0.1em;
	padding-right: 0.1em;
	transform: translateY(0.15em);
}

/* state status */
.card-status span {
	padding: 0.45em 1em;
	border-radius: 8px;
	font-size: 0.95em;
	font-weight: 500;
	font-family: Roboto, sans-serif;
}

/* Bottom of card */
.card-footer {
	margin-top: 0.8em;
	margin-bottom: 0.4em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Warning reminder */
.reminder {
	color: red;
	font-size: 1.1em;

	margin: 0;
	padding: 0em 0.2em;
	font-weight: bolder;
}

/* State colors */
/* rejected */
.s0 {
	background-color: #ffadad;
	color: #8b2e2e;
}

/* Submitted */
.s1 {
	background-color: #ffadad;
	color: #4a0f0f;
}

/* Verified */
.s2 {
	background-color: #ffd6a5;
	color: #4b4318;
}

/* In progress */
.s3 {
	background-color: #fdffb6;
	color: #4a4b18;
}

/* Waiting for review */
.s4 {
	background-color: #9bf6ff;
	color: #2d484a;
}

/* Done */
.s5 {
	background-color: #caffbf;
	color: #1c3e1f;
}
