.nav-bar {
	background-color: #143580;
	color: #ffffff;
	padding: 0.8em 3em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-title {
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

/* .app-title:hover {
	opacity: 0.8;
} */

.navigation ul {
	display: flex;
	gap: 24px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	/* letter-spacing: normal; */
	font-size: 1.2rem;
	padding: 8px;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
}

.navigation li a:hover,
.navigation li a.active {
	/* background-color: rgba(255, 255, 255, 0.1); */
	color: lightblue;
}

.navigation li a.active {
	border-bottom: 1px solid #1c52b5;
}
