/* Nav bar container */
.nav-bar {
	background-color: #143580;
	color: #ffffff;
	padding: 0.2em 2.2em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav bar for smaller window */
.nav-bar.smaller {
	font-size: 0.75em;
	padding: 0.2em 1em;
}
/* Title of the app name */
.app-title {
	font-size: 1.8em;
	font-weight: bold;
	cursor: pointer;
	display: flex;
}

/* Icon for the user profile */
.profile-icon {
	font-size: 2.5em;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 100%;
	width: fit-content;
}

/* Navigation container */
.navigation {
	display: flex;
	align-items: center;
}

/* list item container */
.navigation ul {
	display: flex;
	gap: 1.5em;
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
}

/* List items of the navigation */
.navigation li {
	cursor: pointer;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.2em;
	align-items: center;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
}

/* List item when hovered or active */
.navigation li:hover,
.navigation li.active {
	color: lightblue;
}

.navigation li.active {
	border-bottom: 2px solid #1c52b5;
}
