<div class="nav-bar" [class.smaller]="innerWidth() < 540">
  <div class="app-title">State Manager</div>

  <nav class="navigation">
    <ul>
      <!-- @if (user_role() === '1') { -->
      @if (false) {
      <li [routerLink]="[{ outlets: { home: ['dashboard'] } }]" routerLinkActive="active" tabindex="0">
        Dashboard
      </li>
      } @if (userRole() !== '1') {
      <li [routerLink]="[{ outlets: { home: ['todo'] } }]" routerLinkActive="active" tabindex="0">
        Todo
      </li>
      <li [routerLink]="[{ outlets: { home: ['progress'] } }]" routerLinkActive="active" tabindex="0">
        Progress
      </li>
      }

      <li>
        <mat-icon (click)="toggleUserInfoVisibility(true)" class="profile-icon">
          account_circle
        </mat-icon>

        @if (isUserInfoVisible()) {
        <app-pop-up-user-info (user_data_visible)="isUserInfoVisible.set($event)"></app-pop-up-user-info>
        }
      </li>
    </ul>
  </nav>
</div>