.todo-page-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5em;
	margin-bottom: 2em;
}
.todo-page-header.column {
	flex-direction: column;
	gap: 1em;
}

mat-label {
	align-self: center;
	font-size: 1.2em;
}
mat-form-field {
	position: absolute;
	right: -1em;
	top: 5.5em;
	width: 21em;
	transform: scale(0.8);
}
mat-form-field.flex {
	position: relative;
	right: 0em;
	top: 0em;
	width: 21em;
	transform: scale(0.9);
}
/* mat-select {
	transform: scale(0.8);
} */
mat-option {
	font-size: 0.85em;
	white-space: normal;
}

.menu-selector {
	display: flex;
	justify-content: center;
	gap: 3em;
}
.todo-page-header.column .menu-selector {
	/* flex-direction: column; */
	font-size: 0.8em;
	gap: 2em;
}

.menu-item {
	font-size: 2em;
	font-weight: 500;
	color: #333;
	cursor: pointer;
	padding-bottom: 0.2em;
	transition: color 0.3s;
}

.menu-item:hover {
	color: #1c52b5;
}

.menu-item.active {
	color: #1c52b5;
	font-weight: 600;
	border-bottom: 1px solid #1c52b5;
}
