<body>
  <div class="todo-page-header" [class.column]="innerWidth() < 1050">
    <div class="menu-selector">
      <div class="menu-item" [class.active]="currentMenu === 'TODO'" (click)="setMenu('TODO')">
        Todo
      </div>
      <div class="menu-item" [class.active]="currentMenu === 'IN PROGRESS'" (click)="setMenu('IN PROGRESS')">
        In Progress
      </div>
      <div class="menu-item" [class.active]="currentMenu === 'DONE'" (click)="setMenu('DONE')">
        Done
      </div>
    </div>
    <div>
      <mat-form-field class="filter" appearance="outline" [class.flex]="innerWidth() < 1050">
        <mat-select name="requirementType" [(ngModel)]="currentFilter" (selectionChange)="setVisibleBasedOnFilter()">
          <mat-option [value]="-1">ALL</mat-option>
          <mat-option [value]="1">FFRA</mat-option>
          <mat-option [value]="2">DATASET ( PENAMBAHAN COLUMN )</mat-option>
          <mat-option [value]="3">DATASET BARU</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="requests" [class.center]="innerWidth() < 822" [class.small-window]="innerWidth() < 550">
    @if (visibleTodo().length > 0 && currentMenu != 'DONE') {
    @for (request of visibleTodo(); track request.requestId) {
    <app-card-request [reminderTooltip]="todoStateThreshold()" [request]="request" (refresh)="getTodo()" />
    }
    }
    @if (visibleTodo().length > 0 && currentMenu === 'DONE') {
    @for (request of visibleTodo(); track request.requestId) {
    <app-card-request [request]="request" (refresh)="getTodo()" />
    }
    }
  </div>
</body>