/* Row toset items aligned right */
.justify-end {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}

/* mat-label transition on resize */
mat-label {
	transition: all 01s ease;
}
/* smaller label size for window adjustment */
.smaller-label {
	font-size: 0.75em !important;
}

/* Field for displaying the file input */
.file-field {
	display: flex;
	flex: 1;
	width: 100%;
}

/* Upload box (container of the upload bar) */
.upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	gap: 0.75rem; /* Reduced gap for a tighter look */
	padding: 2rem;
	background-color: #ffffff;
	width: 300px;
}
/* Text of the ipload label */
.upload-text {
	font-size: 1.125rem;
	font-weight: 600;
	color: #1f2937;
}

/* The display number of the percentage */
.upload-number {
	font-size: 1rem;
	font-weight: 500;
	color: #3b82f6;
}

/* Progress bar */
.progress-bar {
	width: 100%;
	height: 8px;
	background-color: #e5e7eb;
	border-radius: 9999px;
	overflow: hidden;
	margin-top: 0.5rem;
}

/* Filling style for the progress bar */
.progress-fill {
	height: 100%;
	background-color: #3b82f6;
	border-radius: 9999px;
	transition: width 0.3s ease-in-out;
}
