.justify-end {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}

mat-label {
	transition: all 01s ease;
}
.smaller-label {
	font-size: 0.75em !important;
}

.file-name {
	margin-left: 1em; /* or whatever margin you require */
}

.file-field {
	display: flex;
	/* flex-direction: row; */
	flex: 1;
	width: 100%;
	/* display: inline-flex;
	align-items: center;
	box-sizing: border-box;

	height: 3.5em;
	width: 180px;
	justify-content: flex-start;
	border: 1px solid #777;
	border-radius: 4px;
	width: 100%; */
}
.file-container {
	flex: 1;
}
.no-disabled-style[disabled] {
	color: inherit !important;
	-webkit-text-fill-color: inherit !important;
	opacity: 1 !important;
	background-color: inherit !important;
}

.row-flex {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.flex-input {
	flex: 1;
}

.inline-button {
	height: 56px;
	min-width: 56px;
	padding: 0;
}

.upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	gap: 0.75rem; /* Reduced gap for a tighter look */
	padding: 2rem;
	background-color: #ffffff;
	width: 300px;
}

/* Styling the text divs directly without classes */
.upload-box div:first-of-type {
	font-size: 1.125rem;
	font-weight: 600;
	color: #1f2937;
}
.upload-box div:nth-of-type(2) {
	font-size: 1rem;
	font-weight: 500;
	color: #3b82f6;
}

/* 3. The background of the progress bar */
.progress-bar {
	width: 100%;
	height: 8px;
	background-color: #e5e7eb;
	border-radius: 9999px;
	overflow: hidden;
	margin-top: 0.5rem;
}

.progress-fill {
	height: 100%;
	background-color: #3b82f6;
	border-radius: 9999px;
	transition: width 0.3s ease-in-out;
}
