<div class="{{ 'card s' + progressInfo.stateId }}" [class.active-card]="isActive() === 3" [class.shrink]="isShrunk"
  (click)="onClick('TOTAL')">
  <div class="card-header">
    <h3 class="request-title">{{ progressInfo.stateName }}</h3>
  </div>
  <div class="row">
    @if (progressInfo.stateId < 5) { <div class="{{ 'progress-square inner-card s' + progressInfo.stateId }}"
      [class.active]="isActive() === 1" (click)="onClick('TODO'); $event.stopPropagation()">
      <div class="label">Current</div>
      <div class="value">{{ progressInfo.todo }}</div>
  </div>
  <div class="{{ 'progress-square inner-card s' + progressInfo.stateId }}" [class.active]="isActive() === 2"
    (click)="onClick('DONE'); $event.stopPropagation()">
    <div class="label">Done</div>
    <div class="value">{{ progressInfo.done }}</div>
  </div>
  }
  @if (progressInfo.stateId === 5) {
  <div class="{{'progress-square no-hover inner-card s' + progressInfo.stateId}}">
    <div class="label">Done</div>
    <div class="value">{{ progressInfo.done }}</div>
  </div>
  }
</div>
</div>