/* Specific style for card here */
.card {
	width: 20em;
	font-size: 1rem;
	padding: 1em;
	transition: all 0.8s ease;
}
/* card style when it is active */

.card.active-card {
	box-shadow: 2px 2px 2px 2px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	border: 2px solid #999;
}

/* 	Shrink style for card to reduce font-size and width
	Used when menu is changed from only count view 
	to count and state view*/
.card.shrink {
	width: 18em;
	font-size: 0.64rem; /* controls all size below */
	padding: 0.9em;
}

/* 	Shrink style for card when window is smaller to reduce font-size and width
	Used when menu is changed from only count view 
	to count and state view*/
.card.shrink.small-window {
	width: 16em;
	font-size: 0.59rem; /* controls all size below */
	padding: 0.7em;
}
/* Title of the request */
.request-title {
	font-size: 1em;
}

/* Header inside card */
.card-header {
	justify-content: center;
	margin-bottom: 0.6em;
	font-size: 1.4em; /* will scale with .card font-size */
}

/* Inner square area */
.progress-square {
	flex: 1;
	padding: 0.8em 0em 0.8em 0em;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 0 0 1px #999;
	transition: all 0.3s ease;
}

/* progress count box when active */
.progress-square.active {
	box-shadow: 2px 2px 2px 2px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	border: 2px solid #999;
}

/* progress count box when hovered */
.progress-square:hover {
	box-shadow: 1px 1px 1px 1px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	cursor: pointer;
}

/* progress count box when hover is disabled */
.progress-square.no-hover:hover {
	box-shadow: none !important;
}

/* Label text */
.progress-square.label {
	font-size: 2em; /* relative to card font-size */
	color: #666;
}

/* Value number */
.progress-square .value {
	font-size: 2em;
	font-weight: 600;
	color: #111;
}

/* State colors */
/* Submitted */
.card.s1 {
	background-color: #ffadad;
}

/* Verified */
.card.s2 {
	background-color: #ffd6a5;
}

/* In progress */
.card.s3 {
	background-color: #fdffb6;
}

/* Waiting for review */
.card.s4 {
	background-color: #9bf6ff;
}

/* Done */
.card.s5 {
	background-color: #caffbf;
}

/* All */
.card.s-1 {
	background-color: #e8e8e4;
}

/* Submitted */
.inner-card.s1 {
	background-color: #ffc0c2;
}

/* Verified */
.inner-card.s2 {
	background-color: #ffe0b8;
}
/* In progress */
.inner-card.s3 {
	background-color: #feffdc;
}

/* Waiting for review */
.inner-card.s4 {
	background-color: #bbfbff;
}

/* Done */
.inner-card.s5 {
	background-color: #d9ffd6;
}
/* All */
.inner-card.s-1 {
	background-color: #ececec;
}
