/* Base card style */
.card {
	width: 20em;
	font-size: 1rem;
	padding: 1em;
	transition: all 0.8s ease;
	/* box-shadow: inset 0 0 0 1px #999; */
	/* border: 1px #999; */
}

.card.active-card {
	box-shadow: 2px 2px 2px 2px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	border: 2px solid #999;
}

/* Shrink style: reduce font-size and width */
.card.shrink {
	width: 18em;
	font-size: 0.64rem; /* controls all size below */
	padding: 0.9em;
}

.request-title {
	font-size: 1em;
}

/* Header inside card */
.card-header {
	justify-content: center;
	margin-bottom: 0.6em;
	font-size: 1.4em; /* will scale with .card font-size */
}

/* Inner square area */
.progress-square {
	flex: 1;
	padding: 0.8em 0em 0.8em 0em;
	/* background-color: #f5f7fa; */
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 0 0 1px #999;
	/* border: 1px solid #999; */
	transition: all 0.3s ease;
}

.progress-square.active {
	box-shadow: 2px 2px 2px 2px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	border: 2px solid #999;
	/* background-color: #2e6edc; */
}

.progress-square:hover {
	box-shadow: 1px 1px 1px 1px rgba(44, 62, 80, 0.18), 0 3px 8px
		rgba(44, 62, 80, 0.1);
	cursor: pointer;
}

.progress-square.no-hover:hover {
	box-shadow: none !important;
}

/* Label text */
.progress-square.label {
	font-size: 2em; /* relative to card font-size */
	color: #666;
}

/* Value number */
.progress-square .value {
	font-size: 2em;
	font-weight: 600;
	color: #111;
}

/* Submitted - Pastel Yellow */
.card.s1 {
	background-color: #ffadad;
}

.card.s2 {
	background-color: #ffd6a5;
}

.card.s3 {
	background-color: #fdffb6;
}

.card.s4 {
	background-color: #9bf6ff;
}

.card.s5 {
	background-color: #caffbf;
}

.card.s-1 {
	background-color: #e8e8e4;
}

.inner-card.s1 {
	background-color: #ffc0c2;
}

.inner-card.s2 {
	background-color: #ffe0b8;
}

.inner-card.s3 {
	background-color: #feffdc;
}

.inner-card.s4 {
	background-color: #bbfbff;
}

.inner-card.s5 {
	background-color: #d9ffd6;
}

.inner-card.s-1 {
	background-color: #ececec;
}
