<div class="card">
  <div class="card-header">
    <h3 class="card-request-title">{{ stateInfo.requestTitle }}</h3>
    <span class="card-request-id">#{{ stateInfo.requestId }}</span>
  </div>
  <div>
    <span class="request-date">{{ stateInfo.requestDate | date:'short' }}</span>
    <div class="data-label">{{stateInfo.dataTypeName}}</div>
  </div>

  <div class="state-info">
    <div class="state-label">{{ boxTextVariant() }}</div>
    <div class="state-data">
      <span class="date">{{ stateInfo.dateStart | date : "medium" }}</span>
      <span class="by-user">by {{ stateInfo.startedBy }}</span>
    </div>
  </div>

  @if (stateInfo.completed && stateInfo.stateNameId < 5) { <div class="state-info">
    <div class="state-label">State End Date</div>
    <div class="state-data">
      <span class="date">{{ stateInfo.dateEnd | date : "medium" }}</span>
      <span class="by-user">by {{ stateInfo.endedBy }}</span>
    </div>
</div>
}

<div class="card-footer">
  <div class="card-status">
    <span [matTooltip]="'Current state is ' + stateInfo.currentStateName" class="{{ 's' + stateInfo.currentState }}">{{
      stateInfo.currentStateName
      }}</span>
  </div>
  <app-custom-square-button [buttonLabel]="'More Details'" (buttonClick)="moreDetails()"></app-custom-square-button>
</div>
</div>